/* background: #f5f4fa; цвет Наша команда */
/* background: #e5e5e5; цвет особенности и чем мы занимаемся*/
/* background: #2f303a; цвет героя и футер */
/* background white: #ffffff; цвет шапки сайта и текст*/
/* #212121 цвет текста заголовков и навигаци по сайту */
/*  #757575; основной цвет текста */
/*контакты футер rgba(255, 255, 255, 0.6);

/* #2196F3 выделенный синий*/

:root {
  --white-color: #ffffff;
  --dark-background-color: #2f303a;
  --grey-background-color: #f5f4fa;
  --title-text-color: #212121;
  --text-color: #757575;
  --white-transparent-color: rgba(255, 255, 255, 0.6);
  --blue-accent: #2196f3;
}
body {
  background-color: var(--white-color);
  font-family: Roboto, sans-serif;
  color: var(--text-color);
  letter-spacing: 0.03em;
}
.list {
  list-style: none;
}
/*-----------------Компоненты--------------*/
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo .logo-accent,
.site-menu .nav-link:hover,
.site-menu .nav-link:focus,
.site-menu .nav-link.activ-page,
.site-menu .nav-link.activ-page-portfolio,
.nav-contact .nav-link:hover,
.nav-contact .nav-link:focus,
.nav-contact .nav-tel:hover,
.nav-contact .nav-tel:focus,
.mail:hover,
.mail:focus,
.phone-number:hover,
.phone-number:focus {
  color: var(--blue-accent);
}

.about-title,
.team-section-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
/*----------------Компоненты конец---------*/

/*--------------- Шапка сайта-------------*/

.logo.dark-logo {
  color: var(--title-text-color);
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-menu > .nav-link {
  color: var(--title-text-color);
  text-decoration: none;
}

.nav-contact > .nav-link,
.nav-contact > .nav-link {
  color: var(--text-color);
  text-decoration: none;
}

/*--------------- Секция Герой-------------*/
.hero {
  background-color: var(--dark-background-color);
}

.hero-title {
  color: var(--white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  background-color: var(--blue-accent);
  color: var(--white-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.hero-button:hover {
  background-color: #188ce8;
}

/*--------------- Секция Герой Конец -------------*/

/*-------------------- Секция особенности------------- */

.features-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
}

/*-------------------- Секция Особенности Конец------------- */

/*--------------------Секция Чем Мы Занимаемся---------------*/
/*--------------------Секция Чем Мы Занимаемся Конец---------------*/

/*--------------------Секция Наша Команда--------------------------*/

.team {
  background-color: var(--grey-background-color);
}
.team-title {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team-text {
  color: var(--text-color);

  font-size: 16px;
  line-height: 1.18;
}

/*--------------------Секция Наша Команда Конец--------------------------*/

/*---------------------------Футер----------------*/

.footer-contact {
  background-color: var(--dark-background-color);
}
.logo.light-logo {
  color: var(--white-color);
}

.adres,
.mail,
.phone-number {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.adres {
  color: var(--white-color);
}

.mail,
.phone-number {
  color: var(--white-transparent-color);
  text-decoration: none;
}

/*---------------------------Футер Конец----------------*/

/*=======================Оформление Страницы Потрфолио==================*/

/*-----------------------Кнопки Фильтра--------------------*/
.filter-button {
  background-color: var(--grey-background-color);
  color: var(--title-text-color);

  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--blue-accent);
  color: var(--white-color);
}

/*-----------------------Кнопки Фильтра Конец--------------------*/

/*-----------------------Примеры Проектов--------------------*/
.project-title {
  color: var(--title-text-color);

  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-text {
  font-size: 16px;
  line-height: 1.87;
}
/*-----------------------Примеры Проектов Конец--------------------*/
